In [5]:
import pandas as pd

In [17]:
data = pd.read_csv('homelessness.csv')

In [8]:
type(data)

pandas.core.frame.DataFrame

In [11]:
# columns in our dataframe
data.columns

Index(['Unnamed: 0', 'region', 'state', 'individuals', 'family_members',
       'state_pop'],
      dtype='object')

In [19]:
#To drop a column
data = data.drop(['Unnamed: 0'], axis=1)

In [ ]:
data

In [21]:
data.to_csv('homelessness_updated.csv')

In [22]:
data.columns

Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')

In [23]:
data.head()

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

In [24]:
data.head(10)

,region,state,individuals,family_members,state_pop
0,East South Central,Alabama,2570.0,864.0,4887681
1,Pacific,Alaska,1434.0,582.0,735139
2,Mountain,Arizona,7259.0,2606.0,7158024
3,West South Central,Arkansas,2280.0,432.0,3009733
4,Pacific,California,109008.0,20964.0,39461588
5,Mountain,Colorado,7607.0,3250.0,5691287
6,New England,Connecticut,2280.0,1696.0,3571520
7,South Atlantic,Delaware,708.0,374.0,965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,South Atlantic,Florida,21443.0,9587.0,21244317

In [25]:
data.shape #(rows,columns)

(51, 5)

In [26]:
data.describe()

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     float64
 3   family_members  51 non-null     float64
 4   state_pop       51 non-null     int64
dtypes: float64(2), int64(1), object(2)
memory usage: 2.1+ KB

In [28]:
data.index

RangeIndex(start=0, stop=51, step=1)

In [31]:
data.values

array([['East South Central', 'Alabama', 2570.0, 864.0, 4887681],
       ['Pacific', 'Alaska', 1434.0, 582.0, 735139],
       ['Mountain', 'Arizona', 7259.0, 2606.0, 7158024],
       ['West South Central', 'Arkansas', 2280.0, 432.0, 3009733],
       ['Pacific', 'California', 109008.0, 20964.0, 39461588],
       ['Mountain', 'Colorado', 7607.0, 3250.0, 5691287],
       ['New England', 'Connecticut', 2280.0, 1696.0, 3571520],
       ['South Atlantic', 'Delaware', 708.0, 374.0, 965479],
       ['South Atlantic', 'District of Columbia', 3770.0, 3134.0, 701547],
       ['South Atlantic', 'Florida', 21443.0, 9587.0, 21244317],
       ['South Atlantic', 'Georgia', 6943.0, 2556.0, 10511131],
       ['Pacific', 'Hawaii', 4131.0, 2399.0, 1420593],
       ['Mountain', 'Idaho', 1297.0, 715.0, 1750536],
       ['East North Central', 'Illinois', 6752.0, 3891.0, 12723071],
       ['East North Central', 'Indiana', 3776.0, 1482.0, 6695497],
       ['West North Central', 'Iowa', 1711.0, 1038.0, 3148618],
       ['West North Central', 'Kansas', 1443.0, 773.0, 2911359],
       ['East South Central', 'Kentucky', 2735.0, 953.0, 4461153],
       ['West South Central', 'Louisiana', 2540.0, 519.0, 4659690],
       ['New England', 'Maine', 1450.0, 1066.0, 1339057],
       ['South Atlantic', 'Maryland', 4914.0, 2230.0, 6035802],
       ['New England', 'Massachusetts', 6811.0, 13257.0, 6882635],
       ['East North Central', 'Michigan', 5209.0, 3142.0, 9984072],
       ['West North Central', 'Minnesota', 3993.0, 3250.0, 5606249],
       ['East South Central', 'Mississippi', 1024.0, 328.0, 2981020],
       ['West North Central', 'Missouri', 3776.0, 2107.0, 6121623],
       ['Mountain', 'Montana', 983.0, 422.0, 1060665],
       ['West North Central', 'Nebraska', 1745.0, 676.0, 1925614],
       ['Mountain', 'Nevada', 7058.0, 486.0, 3027341],
       ['New England', 'New Hampshire', 835.0, 615.0, 1353465],
       ['Mid-Atlantic', 'New Jersey', 6048.0, 3350.0, 8886025],
       ['Mountain', 'New Mexico', 1949.0, 602.0, 2092741],
       ['Mid-Atlantic', 'New York', 39827.0, 52070.0, 19530351],
       ['South Atlantic', 'North Carolina', 6451.0, 2817.0, 10381615],
       ['West North Central', 'North Dakota', 467.0, 75.0, 758080],
       ['East North Central', 'Ohio', 6929.0, 3320.0, 11676341],
       ['West South Central', 'Oklahoma', 2823.0, 1048.0, 3940235],
       ['Pacific', 'Oregon', 11139.0, 3337.0, 4181886],
       ['Mid-Atlantic', 'Pennsylvania', 8163.0, 5349.0, 12800922],
       ['New England', 'Rhode Island', 747.0, 354.0, 1058287],
       ['South Atlantic', 'South Carolina', 3082.0, 851.0, 5084156],
       ['West North Central', 'South Dakota', 836.0, 323.0, 878698],
       ['East South Central', 'Tennessee', 6139.0, 1744.0, 6771631],
       ['West South Central', 'Texas', 19199.0, 6111.0, 28628666],
       ['Mountain', 'Utah', 1904.0, 972.0, 3153550],
       ['New England', 'Vermont', 780.0, 511.0, 624358],
       ['South Atlantic', 'Virginia', 3928.0, 2047.0, 8501286],
       ['Pacific', 'Washington', 16424.0, 5880.0, 7523869],
       ['South Atlantic', 'West Virginia', 1021.0, 222.0, 1804291],
       ['East North Central', 'Wisconsin', 2740.0, 2167.0, 5807406],
       ['Mountain', 'Wyoming', 434.0, 205.0, 577601]], dtype=object)

In [32]:
data.head(10)

,region,state,individuals,family_members,state_pop
0,East South Central,Alabama,2570.0,864.0,4887681
1,Pacific,Alaska,1434.0,582.0,735139
2,Mountain,Arizona,7259.0,2606.0,7158024
3,West South Central,Arkansas,2280.0,432.0,3009733
4,Pacific,California,109008.0,20964.0,39461588
5,Mountain,Colorado,7607.0,3250.0,5691287
6,New England,Connecticut,2280.0,1696.0,3571520
7,South Atlantic,Delaware,708.0,374.0,965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,South Atlantic,Florida,21443.0,9587.0,21244317

In [33]:
data.sort_values('state_pop')

,region,state,individuals,family_members,state_pop
50,Mountain,Wyoming,434.0,205.0,577601
45,New England,Vermont,780.0,511.0,624358
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
1,Pacific,Alaska,1434.0,582.0,735139
34,West North Central,North Dakota,467.0,75.0,758080
41,West North Central,South Dakota,836.0,323.0,878698
7,South Atlantic,Delaware,708.0,374.0,965479
39,New England,Rhode Island,747.0,354.0,1058287
26,Mountain,Montana,983.0,422.0,1060665
19,New England,Maine,1450.0,1066.0,1339057
29,New England,New Hampshire,835.0,615.0,1353465
11,Pacific,Hawaii,4131.0,2399.0,1420593
12,Mountain,Idaho,1297.0,715.0,1750536
48,South Atlantic,West Virginia,1021.0,222.0,1804291
27,West North Central,Nebraska,1745.0,676.0,1925614
31,Mountain,New Mexico,1949.0,602.0,2092741
16,West North Central,Kansas,1443.0,773.0,2911359
24,East South Central,Mississippi,1024.0,328.0,2981020
3,West South Central,Arkansas,2280.0,432.0,3009733
28,Mountain,Nevada,7058.0,486.0,3027341
15,West North Central,Iowa,1711.0,1038.0,3148618
44,Mountain,Utah,1904.0,972.0,3153550
6,New England,Connecticut,2280.0,1696.0,3571520
36,West South Central,Oklahoma,2823.0,1048.0,3940235
37,Pacific,Oregon,11139.0,3337.0,4181886
17,East South Central,Kentucky,2735.0,953.0,4461153
18,West South Central,Louisiana,2540.0,519.0,4659690
0,East South Central,Alabama,2570.0,864.0,4887681
40,South Atlantic,South Carolina,3082.0,851.0,5084156
23,West North Central,Minnesota,3993.0,3250.0,5606249
5,Mountain,Colorado,7607.0,3250.0,5691287
49,East North Central,Wisconsin,2740.0,2167.0,5807406
20,South Atlantic,Maryland,4914.0,2230.0,6035802
25,West North Central,Missouri,3776.0,2107.0,6121623
14,East North Central,Indiana,3776.0,1482.0,6695497
42,East South Central,Tennessee,6139.0,1744.0,6771631
21,New England,Massachusetts,6811.0,13257.0,6882635
2,Mountain,Arizona,7259.0,2606.0,7158024
47,Pacific,Washington,16424.0,5880.0,7523869
46,South Atlantic,Virginia,3928.0,2047.0,8501286
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
22,East North Central,Michigan,5209.0,3142.0,9984072
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
10,South Atlantic,Georgia,6943.0,2556.0,10511131
35,East North Central,Ohio,6929.0,3320.0,11676341
13,East North Central,Illinois,6752.0,3891.0,12723071
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
9,South Atlantic,Florida,21443.0,9587.0,21244317
43,West South Central,Texas,19199.0,6111.0,28628666
4,Pacific,California,109008.0,20964.0,39461588

In [34]:
data.sort_values('state_pop',ascending=False)

,region,state,individuals,family_members,state_pop
4,Pacific,California,109008.0,20964.0,39461588
43,West South Central,Texas,19199.0,6111.0,28628666
9,South Atlantic,Florida,21443.0,9587.0,21244317
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
13,East North Central,Illinois,6752.0,3891.0,12723071
35,East North Central,Ohio,6929.0,3320.0,11676341
10,South Atlantic,Georgia,6943.0,2556.0,10511131
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
22,East North Central,Michigan,5209.0,3142.0,9984072
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
46,South Atlantic,Virginia,3928.0,2047.0,8501286
47,Pacific,Washington,16424.0,5880.0,7523869
2,Mountain,Arizona,7259.0,2606.0,7158024
21,New England,Massachusetts,6811.0,13257.0,6882635
42,East South Central,Tennessee,6139.0,1744.0,6771631
14,East North Central,Indiana,3776.0,1482.0,6695497
25,West North Central,Missouri,3776.0,2107.0,6121623
20,South Atlantic,Maryland,4914.0,2230.0,6035802
49,East North Central,Wisconsin,2740.0,2167.0,5807406
5,Mountain,Colorado,7607.0,3250.0,5691287
23,West North Central,Minnesota,3993.0,3250.0,5606249
40,South Atlantic,South Carolina,3082.0,851.0,5084156
0,East South Central,Alabama,2570.0,864.0,4887681
18,West South Central,Louisiana,2540.0,519.0,4659690
17,East South Central,Kentucky,2735.0,953.0,4461153
37,Pacific,Oregon,11139.0,3337.0,4181886
36,West South Central,Oklahoma,2823.0,1048.0,3940235
6,New England,Connecticut,2280.0,1696.0,3571520
44,Mountain,Utah,1904.0,972.0,3153550
15,West North Central,Iowa,1711.0,1038.0,3148618
28,Mountain,Nevada,7058.0,486.0,3027341
3,West South Central,Arkansas,2280.0,432.0,3009733
24,East South Central,Mississippi,1024.0,328.0,2981020
16,West North Central,Kansas,1443.0,773.0,2911359
31,Mountain,New Mexico,1949.0,602.0,2092741
27,West North Central,Nebraska,1745.0,676.0,1925614
48,South Atlantic,West Virginia,1021.0,222.0,1804291
12,Mountain,Idaho,1297.0,715.0,1750536
11,Pacific,Hawaii,4131.0,2399.0,1420593
29,New England,New Hampshire,835.0,615.0,1353465
19,New England,Maine,1450.0,1066.0,1339057
26,Mountain,Montana,983.0,422.0,1060665
39,New England,Rhode Island,747.0,354.0,1058287
7,South Atlantic,Delaware,708.0,374.0,965479
41,West North Central,South Dakota,836.0,323.0,878698
34,West North Central,North Dakota,467.0,75.0,758080
1,Pacific,Alaska,1434.0,582.0,735139
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
45,New England,Vermont,780.0,511.0,624358
50,Mountain,Wyoming,434.0,205.0,577601

In [36]:
data.sort_values(['state_pop', 'region'])

,region,state,individuals,family_members,state_pop
50,Mountain,Wyoming,434.0,205.0,577601
45,New England,Vermont,780.0,511.0,624358
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
1,Pacific,Alaska,1434.0,582.0,735139
34,West North Central,North Dakota,467.0,75.0,758080
41,West North Central,South Dakota,836.0,323.0,878698
7,South Atlantic,Delaware,708.0,374.0,965479
39,New England,Rhode Island,747.0,354.0,1058287
26,Mountain,Montana,983.0,422.0,1060665
19,New England,Maine,1450.0,1066.0,1339057
29,New England,New Hampshire,835.0,615.0,1353465
11,Pacific,Hawaii,4131.0,2399.0,1420593
12,Mountain,Idaho,1297.0,715.0,1750536
48,South Atlantic,West Virginia,1021.0,222.0,1804291
27,West North Central,Nebraska,1745.0,676.0,1925614
31,Mountain,New Mexico,1949.0,602.0,2092741
16,West North Central,Kansas,1443.0,773.0,2911359
24,East South Central,Mississippi,1024.0,328.0,2981020
3,West South Central,Arkansas,2280.0,432.0,3009733
28,Mountain,Nevada,7058.0,486.0,3027341
15,West North Central,Iowa,1711.0,1038.0,3148618
44,Mountain,Utah,1904.0,972.0,3153550
6,New England,Connecticut,2280.0,1696.0,3571520
36,West South Central,Oklahoma,2823.0,1048.0,3940235
37,Pacific,Oregon,11139.0,3337.0,4181886
17,East South Central,Kentucky,2735.0,953.0,4461153
18,West South Central,Louisiana,2540.0,519.0,4659690
0,East South Central,Alabama,2570.0,864.0,4887681
40,South Atlantic,South Carolina,3082.0,851.0,5084156
23,West North Central,Minnesota,3993.0,3250.0,5606249
5,Mountain,Colorado,7607.0,3250.0,5691287
49,East North Central,Wisconsin,2740.0,2167.0,5807406
20,South Atlantic,Maryland,4914.0,2230.0,6035802
25,West North Central,Missouri,3776.0,2107.0,6121623
14,East North Central,Indiana,3776.0,1482.0,6695497
42,East South Central,Tennessee,6139.0,1744.0,6771631
21,New England,Massachusetts,6811.0,13257.0,6882635
2,Mountain,Arizona,7259.0,2606.0,7158024
47,Pacific,Washington,16424.0,5880.0,7523869
46,South Atlantic,Virginia,3928.0,2047.0,8501286
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
22,East North Central,Michigan,5209.0,3142.0,9984072
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
10,South Atlantic,Georgia,6943.0,2556.0,10511131
35,East North Central,Ohio,6929.0,3320.0,11676341
13,East North Central,Illinois,6752.0,3891.0,12723071
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
9,South Atlantic,Florida,21443.0,9587.0,21244317
43,West South Central,Texas,19199.0,6111.0,28628666
4,Pacific,California,109008.0,20964.0,39461588

In [38]:
data.sort_values(['state_pop', 'region'], ascending=[True, False])

,region,state,individuals,family_members,state_pop
50,Mountain,Wyoming,434.0,205.0,577601
45,New England,Vermont,780.0,511.0,624358
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
1,Pacific,Alaska,1434.0,582.0,735139
34,West North Central,North Dakota,467.0,75.0,758080
41,West North Central,South Dakota,836.0,323.0,878698
7,South Atlantic,Delaware,708.0,374.0,965479
39,New England,Rhode Island,747.0,354.0,1058287
26,Mountain,Montana,983.0,422.0,1060665
19,New England,Maine,1450.0,1066.0,1339057
29,New England,New Hampshire,835.0,615.0,1353465
11,Pacific,Hawaii,4131.0,2399.0,1420593
12,Mountain,Idaho,1297.0,715.0,1750536
48,South Atlantic,West Virginia,1021.0,222.0,1804291
27,West North Central,Nebraska,1745.0,676.0,1925614
31,Mountain,New Mexico,1949.0,602.0,2092741
16,West North Central,Kansas,1443.0,773.0,2911359
24,East South Central,Mississippi,1024.0,328.0,2981020
3,West South Central,Arkansas,2280.0,432.0,3009733
28,Mountain,Nevada,7058.0,486.0,3027341
15,West North Central,Iowa,1711.0,1038.0,3148618
44,Mountain,Utah,1904.0,972.0,3153550
6,New England,Connecticut,2280.0,1696.0,3571520
36,West South Central,Oklahoma,2823.0,1048.0,3940235
37,Pacific,Oregon,11139.0,3337.0,4181886
17,East South Central,Kentucky,2735.0,953.0,4461153
18,West South Central,Louisiana,2540.0,519.0,4659690
0,East South Central,Alabama,2570.0,864.0,4887681
40,South Atlantic,South Carolina,3082.0,851.0,5084156
23,West North Central,Minnesota,3993.0,3250.0,5606249
5,Mountain,Colorado,7607.0,3250.0,5691287
49,East North Central,Wisconsin,2740.0,2167.0,5807406
20,South Atlantic,Maryland,4914.0,2230.0,6035802
25,West North Central,Missouri,3776.0,2107.0,6121623
14,East North Central,Indiana,3776.0,1482.0,6695497
42,East South Central,Tennessee,6139.0,1744.0,6771631
21,New England,Massachusetts,6811.0,13257.0,6882635
2,Mountain,Arizona,7259.0,2606.0,7158024
47,Pacific,Washington,16424.0,5880.0,7523869
46,South Atlantic,Virginia,3928.0,2047.0,8501286
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
22,East North Central,Michigan,5209.0,3142.0,9984072
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
10,South Atlantic,Georgia,6943.0,2556.0,10511131
35,East North Central,Ohio,6929.0,3320.0,11676341
13,East North Central,Illinois,6752.0,3891.0,12723071
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
9,South Atlantic,Florida,21443.0,9587.0,21244317
43,West South Central,Texas,19199.0,6111.0,28628666
4,Pacific,California,109008.0,20964.0,39461588

In [39]:
data['region']

0     East South Central
1                Pacific
2               Mountain
3     West South Central
4                Pacific
5               Mountain
6            New England
7         South Atlantic
8         South Atlantic
9         South Atlantic
10        South Atlantic
11               Pacific
12              Mountain
13    East North Central
14    East North Central
15    West North Central
16    West North Central
17    East South Central
18    West South Central
19           New England
20        South Atlantic
21           New England
22    East North Central
23    West North Central
24    East South Central
25    West North Central
26              Mountain
27    West North Central
28              Mountain
29           New England
30          Mid-Atlantic
31              Mountain
32          Mid-Atlantic
33        South Atlantic
34    West North Central
35    East North Central
36    West South Central
37               Pacific
38          Mid-Atlantic
39           New England
40        South Atlantic
41    West North Central
42    East South Central
43    West South Central
44              Mountain
45           New England
46        South Atlantic
47               Pacific
48        South Atlantic
49    East North Central
50              Mountain
Name: region, dtype: object

In [41]:
data[['region','state']]

                region                 state
0   East South Central               Alabama
1              Pacific                Alaska
2             Mountain               Arizona
3   West South Central              Arkansas
4              Pacific            California
5             Mountain              Colorado
6          New England           Connecticut
7       South Atlantic              Delaware
8       South Atlantic  District of Columbia
9       South Atlantic               Florida
10      South Atlantic               Georgia
11             Pacific                Hawaii
12            Mountain                 Idaho
13  East North Central              Illinois
14  East North Central               Indiana
15  West North Central                  Iowa
16  West North Central                Kansas
17  East South Central              Kentucky
18  West South Central             Louisiana
19         New England                 Maine
20      South Atlantic              Maryland
21         New England         Massachusetts
22  East North Central              Michigan
23  West North Central             Minnesota
24  East South Central           Mississippi
25  West North Central              Missouri
26            Mountain               Montana
27  West North Central              Nebraska
28            Mountain                Nevada
29         New England         New Hampshire
30        Mid-Atlantic            New Jersey
31            Mountain            New Mexico
32        Mid-Atlantic              New York
33      South Atlantic        North Carolina
34  West North Central          North Dakota
35  East North Central                  Ohio
36  West South Central              Oklahoma
37             Pacific                Oregon
38        Mid-Atlantic          Pennsylvania
39         New England          Rhode Island
40      South Atlantic        South Carolina
41  West North Central          South Dakota
42  East South Central             Tennessee
43  West South Central                 Texas
44            Mountain                  Utah
45         New England               Vermont
46      South Atlantic              Virginia
47             Pacific            Washington
48      South Atlantic         West Virginia
49  East North Central             Wisconsin
50            Mountain               Wyoming

In [43]:
data['state_pop'] > 1000000

0      True
1     False
2      True
3      True
4      True
5      True
6      True
7     False
8     False
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34    False
35     True
36     True
37     True
38     True
39     True
40     True
41    False
42     True
43     True
44     True
45    False
46     True
47     True
48     True
49     True
50    False
Name: state_pop, dtype: bool

In [46]:
#dataframe[condition]
data[data['state_pop'] > 1000000]

                region           state  individuals  family_members  state_pop
0   East South Central         Alabama       2570.0           864.0    4887681
2             Mountain         Arizona       7259.0          2606.0    7158024
3   West South Central        Arkansas       2280.0           432.0    3009733
4              Pacific      California     109008.0         20964.0   39461588
5             Mountain        Colorado       7607.0          3250.0    5691287
6          New England     Connecticut       2280.0          1696.0    3571520
9       South Atlantic         Florida      21443.0          9587.0   21244317
10      South Atlantic         Georgia       6943.0          2556.0   10511131
11             Pacific          Hawaii       4131.0          2399.0    1420593
12            Mountain           Idaho       1297.0           715.0    1750536
13  East North Central        Illinois       6752.0          3891.0   12723071
14  East North Central         Indiana       3776.0          1482.0    6695497
15  West North Central            Iowa       1711.0          1038.0    3148618
16  West North Central          Kansas       1443.0           773.0    2911359
17  East South Central        Kentucky       2735.0           953.0    4461153
18  West South Central       Louisiana       2540.0           519.0    4659690
19         New England           Maine       1450.0          1066.0    1339057
20      South Atlantic        Maryland       4914.0          2230.0    6035802
21         New England   Massachusetts       6811.0         13257.0    6882635
22  East North Central        Michigan       5209.0          3142.0    9984072
23  West North Central       Minnesota       3993.0          3250.0    5606249
24  East South Central     Mississippi       1024.0           328.0    2981020
25  West North Central        Missouri       3776.0          2107.0    6121623
26            Mountain         Montana        983.0           422.0    1060665
27  West North Central        Nebraska       1745.0           676.0    1925614
28            Mountain          Nevada       7058.0           486.0    3027341
29         New England   New Hampshire        835.0           615.0    1353465
30        Mid-Atlantic      New Jersey       6048.0          3350.0    8886025
31            Mountain      New Mexico       1949.0           602.0    2092741
32        Mid-Atlantic        New York      39827.0         52070.0   19530351
33      South Atlantic  North Carolina       6451.0          2817.0   10381615
35  East North Central            Ohio       6929.0          3320.0   11676341
36  West South Central        Oklahoma       2823.0          1048.0    3940235
37             Pacific          Oregon      11139.0          3337.0    4181886
38        Mid-Atlantic    Pennsylvania       8163.0          5349.0   12800922
39         New England    Rhode Island        747.0           354.0    1058287
40      South Atlantic  South Carolina       3082.0           851.0    5084156
42  East South Central       Tennessee       6139.0          1744.0    6771631
43  West South Central           Texas      19199.0          6111.0   28628666
44            Mountain            Utah       1904.0           972.0    3153550
46      South Atlantic        Virginia       3928.0          2047.0    8501286
47             Pacific      Washington      16424.0          5880.0    7523869
48      South Atlantic   West Virginia       1021.0           222.0    1804291
49  East North Central       Wisconsin       2740.0          2167.0    5807406

In [47]:
data[data['state_pop'] > 1000000].shape

(44, 5)

In [48]:
data[data['region']=='Pacific']

     region       state  individuals  family_members  state_pop
1   Pacific      Alaska       1434.0           582.0     735139
4   Pacific  California     109008.0         20964.0   39461588
11  Pacific      Hawaii       4131.0          2399.0    1420593
37  Pacific      Oregon      11139.0          3337.0    4181886
47  Pacific  Washington      16424.0          5880.0    7523869

In [51]:
(data['region']=='Pacific')  & (data['state_pop'] > 1000000)

0     False
1     False
2     False
3     False
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37     True
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47     True
48    False
49    False
50    False
dtype: bool

In [50]:
data[(data['region']=='Pacific')  & (data['state_pop'] > 1000000)]

     region       state  individuals  family_members  state_pop
4   Pacific  California     109008.0         20964.0   39461588
11  Pacific      Hawaii       4131.0          2399.0    1420593
37  Pacific      Oregon      11139.0          3337.0    4181886
47  Pacific  Washington      16424.0          5880.0    7523869

In [52]:
data[data['region'].isin(['Pacific','Mountain'])]

      region       state  individuals  family_members  state_pop
1    Pacific      Alaska       1434.0           582.0     735139
2   Mountain     Arizona       7259.0          2606.0    7158024
4    Pacific  California     109008.0         20964.0   39461588
5   Mountain    Colorado       7607.0          3250.0    5691287
11   Pacific      Hawaii       4131.0          2399.0    1420593
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
37   Pacific      Oregon      11139.0          3337.0    4181886
44  Mountain        Utah       1904.0           972.0    3153550
47   Pacific  Washington      16424.0          5880.0    7523869
50  Mountain     Wyoming        434.0           205.0     577601

In [53]:
data['state_pop_million'] = data['state_pop'] / 1000000

In [54]:
data

,region,state,individuals,family_members,state_pop,state_pop_million
0,East South Central,Alabama,2570.0,864.0,4887681,4.887681
1,Pacific,Alaska,1434.0,582.0,735139,0.735139
2,Mountain,Arizona,7259.0,2606.0,7158024,7.158024
3,West South Central,Arkansas,2280.0,432.0,3009733,3.009733
4,Pacific,California,109008.0,20964.0,39461588,39.461588
5,Mountain,Colorado,7607.0,3250.0,5691287,5.691287
6,New England,Connecticut,2280.0,1696.0,3571520,3.571520
7,South Atlantic,Delaware,708.0,374.0,965479,0.965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.701547
9,South Atlantic,Florida,21443.0,9587.0,21244317,21.244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131,10.511131
11,Pacific,Hawaii,4131.0,2399.0,1420593,1.420593
12,Mountain,Idaho,1297.0,715.0,1750536,1.750536
13,East North Central,Illinois,6752.0,3891.0,12723071,12.723071
14,East North Central,Indiana,3776.0,1482.0,6695497,6.695497
15,West North Central,Iowa,1711.0,1038.0,3148618,3.148618
16,West North Central,Kansas,1443.0,773.0,2911359,2.911359
17,East South Central,Kentucky,2735.0,953.0,4461153,4.461153
18,West South Central,Louisiana,2540.0,519.0,4659690,4.659690
19,New England,Maine,1450.0,1066.0,1339057,1.339057
20,South Atlantic,Maryland,4914.0,2230.0,6035802,6.035802
21,New England,Massachusetts,6811.0,13257.0,6882635,6.882635
22,East North Central,Michigan,5209.0,3142.0,9984072,9.984072
23,West North Central,Minnesota,3993.0,3250.0,5606249,5.606249
24,East South Central,Mississippi,1024.0,328.0,2981020,2.981020
25,West North Central,Missouri,3776.0,2107.0,6121623,6.121623
26,Mountain,Montana,983.0,422.0,1060665,1.060665
27,West North Central,Nebraska,1745.0,676.0,1925614,1.925614
28,Mountain,Nevada,7058.0,486.0,3027341,3.027341
29,New England,New Hampshire,835.0,615.0,1353465,1.353465
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025,8.886025
31,Mountain,New Mexico,1949.0,602.0,2092741,2.092741
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,19.530351
33,South Atlantic,North Carolina,6451.0,2817.0,10381615,10.381615
34,West North Central,North Dakota,467.0,75.0,758080,0.758080
35,East North Central,Ohio,6929.0,3320.0,11676341,11.676341
36,West South Central,Oklahoma,2823.0,1048.0,3940235,3.940235
37,Pacific,Oregon,11139.0,3337.0,4181886,4.181886
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,12.800922
39,New England,Rhode Island,747.0,354.0,1058287,1.058287
40,South Atlantic,South Carolina,3082.0,851.0,5084156,5.084156
41,West North Central,South Dakota,836.0,323.0,878698,0.878698
42,East South Central,Tennessee,6139.0,1744.0,6771631,6.771631
43,West South Central,Texas,19199.0,6111.0,28628666,28.628666
44,Mountain,Utah,1904.0,972.0,3153550,3.153550
45,New England,Vermont,780.0,511.0,624358,0.624358
46,South Atlantic,Virginia,3928.0,2047.0,8501286,8.501286
47,Pacific,Washington,16424.0,5880.0,7523869,7.523869
48,South Atlantic,West Virginia,1021.0,222.0,1804291,1.804291
49,East North Central,Wisconsin,2740.0,2167.0,5807406,5.807406
50,Mountain,Wyoming,434.0,205.0,577601,0.577601

In [55]:
data['state_pop'].median()

4461153.0

In [56]:
data['state_pop'].mean()

6405637.274509804

In [57]:
data['state_pop'].max()

39461588

In [62]:
def pct95(column):
    return column.quantile(0.95)

def pct70(column):
    return column.quantile(0.70)

In [64]:
data['state_pop'].agg(pct95)

20387334.0

In [65]:
data['state_pop'].agg([pct95, pct70])

pct95    20387334.0
pct70     6771631.0
Name: state_pop, dtype: float64

In [69]:
data.drop_duplicates(subset='region')
data.drop_duplicates(subset='region',keep='last')

,region,state,individuals,family_members,state_pop,state_pop_million
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,12.800922
41,West North Central,South Dakota,836.0,323.0,878698,0.878698
42,East South Central,Tennessee,6139.0,1744.0,6771631,6.771631
43,West South Central,Texas,19199.0,6111.0,28628666,28.628666
45,New England,Vermont,780.0,511.0,624358,0.624358
47,Pacific,Washington,16424.0,5880.0,7523869,7.523869
48,South Atlantic,West Virginia,1021.0,222.0,1804291,1.804291
49,East North Central,Wisconsin,2740.0,2167.0,5807406,5.807406
50,Mountain,Wyoming,434.0,205.0,577601,0.577601

In [68]:
data.drop_duplicates(subset=['region','state'])

,region,state,individuals,family_members,state_pop,state_pop_million
0,East South Central,Alabama,2570.0,864.0,4887681,4.887681
1,Pacific,Alaska,1434.0,582.0,735139,0.735139
2,Mountain,Arizona,7259.0,2606.0,7158024,7.158024
3,West South Central,Arkansas,2280.0,432.0,3009733,3.009733
4,Pacific,California,109008.0,20964.0,39461588,39.461588
5,Mountain,Colorado,7607.0,3250.0,5691287,5.691287
6,New England,Connecticut,2280.0,1696.0,3571520,3.571520
7,South Atlantic,Delaware,708.0,374.0,965479,0.965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.701547
9,South Atlantic,Florida,21443.0,9587.0,21244317,21.244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131,10.511131
11,Pacific,Hawaii,4131.0,2399.0,1420593,1.420593
12,Mountain,Idaho,1297.0,715.0,1750536,1.750536
13,East North Central,Illinois,6752.0,3891.0,12723071,12.723071
14,East North Central,Indiana,3776.0,1482.0,6695497,6.695497
15,West North Central,Iowa,1711.0,1038.0,3148618,3.148618
16,West North Central,Kansas,1443.0,773.0,2911359,2.911359
17,East South Central,Kentucky,2735.0,953.0,4461153,4.461153
18,West South Central,Louisiana,2540.0,519.0,4659690,4.659690
19,New England,Maine,1450.0,1066.0,1339057,1.339057
20,South Atlantic,Maryland,4914.0,2230.0,6035802,6.035802
21,New England,Massachusetts,6811.0,13257.0,6882635,6.882635
22,East North Central,Michigan,5209.0,3142.0,9984072,9.984072
23,West North Central,Minnesota,3993.0,3250.0,5606249,5.606249
24,East South Central,Mississippi,1024.0,328.0,2981020,2.981020
25,West North Central,Missouri,3776.0,2107.0,6121623,6.121623
26,Mountain,Montana,983.0,422.0,1060665,1.060665
27,West North Central,Nebraska,1745.0,676.0,1925614,1.925614
28,Mountain,Nevada,7058.0,486.0,3027341,3.027341
29,New England,New Hampshire,835.0,615.0,1353465,1.353465
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025,8.886025
31,Mountain,New Mexico,1949.0,602.0,2092741,2.092741
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,19.530351
33,South Atlantic,North Carolina,6451.0,2817.0,10381615,10.381615
34,West North Central,North Dakota,467.0,75.0,758080,0.758080
35,East North Central,Ohio,6929.0,3320.0,11676341,11.676341
36,West South Central,Oklahoma,2823.0,1048.0,3940235,3.940235
37,Pacific,Oregon,11139.0,3337.0,4181886,4.181886
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,12.800922
39,New England,Rhode Island,747.0,354.0,1058287,1.058287
40,South Atlantic,South Carolina,3082.0,851.0,5084156,5.084156
41,West North Central,South Dakota,836.0,323.0,878698,0.878698
42,East South Central,Tennessee,6139.0,1744.0,6771631,6.771631
43,West South Central,Texas,19199.0,6111.0,28628666,28.628666
44,Mountain,Utah,1904.0,972.0,3153550,3.153550
45,New England,Vermont,780.0,511.0,624358,0.624358
46,South Atlantic,Virginia,3928.0,2047.0,8501286,8.501286
47,Pacific,Washington,16424.0,5880.0,7523869,7.523869
48,South Atlantic,West Virginia,1021.0,222.0,1804291,1.804291
49,East North Central,Wisconsin,2740.0,2167.0,5807406,5.807406
50,Mountain,Wyoming,434.0,205.0,577601,0.577601

In [73]:
data['region'].value_counts()

South Atlantic        9
Mountain              8
West North Central    7
New England           6
Pacific               5
East North Central    5
East South Central    4
West South Central    4
Mid-Atlantic          3
Name: region, dtype: int64

In [74]:
data['state'].value_counts()

Alabama                 1
Pennsylvania            1
Nevada                  1
New Hampshire           1
New Jersey              1
New Mexico              1
New York                1
North Carolina          1
North Dakota            1
Ohio                    1
Oklahoma                1
Oregon                  1
Rhode Island            1
Montana                 1
South Carolina          1
South Dakota            1
Tennessee               1
Texas                   1
Utah                    1
Vermont                 1
Virginia                1
Washington              1
West Virginia           1
Wisconsin               1
Nebraska                1
Missouri                1
Alaska                  1
Idaho                   1
Arizona                 1
Arkansas                1
California              1
Colorado                1
Connecticut             1
Delaware                1
District of Columbia    1
Florida                 1
Georgia                 1
Hawaii                  1
Illinois                1
Mississippi             1
Indiana                 1
Iowa                    1
Kansas                  1
Kentucky                1
Louisiana               1
Maine                   1
Maryland                1
Massachusetts           1
Michigan                1
Minnesota               1
Wyoming                 1
Name: state, dtype: int64

In [75]:
data['region'].value_counts(sort=True)

South Atlantic        9
Mountain              8
West North Central    7
New England           6
Pacific               5
East North Central    5
East South Central    4
West South Central    4
Mid-Atlantic          3
Name: region, dtype: int64